body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0b3d91;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    padding: 40px;
}
nav{
    background:#222;
    padding:15px;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
}

nav a:hover{
    color:yellow;
}
.dark {
background-color: #121212;
color: white;
}